body {
	background-image: url("weather-background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#heading {
	padding-top: 100px;
}

#pageIntro {
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#pageIntro p {
	font-size: 140%;
}

.marginTop {
	margin-top: 20px;
}

#findMyWeather {
	margin-right: 127px;
}

.middle {
	text-align: center;
}
